@import 'variables.scss';

* {
  font-family: 'Open Sans', sans-serif;

}
body {
  margin: 0;
}

.error {
  color: $error;
}

.ant-btn-primary {
    background: $primary !important;
    border-color: $primary !important;
}